<br>
<h1 class="text-center"><%=@heading %></h1>
<p class="text-center">
  A web application for programmers who want to share their knowledge with others.
</p>
<span class="image fit"><%= image_tag("rails.jpg", :alt => "") %></span>